// universal

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  font-family: $font-family;
  color: $base-font-color;
  line-height: $font-height;
}

// typography

h1 {
  font-size: $base-spacing*2.5;
}

h2 {
  font-size: $base-spacing*2
}

h3 {
  font-size: $base-spacing*1.37;
}

h4 {
  font-size: $base-spacing*1.12;
}

h5 {
  font-size: $base-spacing;
}

h6 {
  font-size: $base-spacing*0.87;
}

p {
  font-size: $base-spacing*1.12;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: $font-weight-light;
}

.font-regular {
  font-weight: $font-weight-regular;
}

.font-heavy {
  font-weight: $font-weight-heavy;
}


// colors

.dark-gray,
.dark-grey {
  color: $dark-grey;
}
.gray,
.grey { color: $gray; }
.black { color: $black; }
.red { color: $red; }
.orange { color: $orange; }
.yellow { color: $yellow; }
.olive{ color: $olive; }
.green { color: $green; }
.teal { color: $teal; }
.blue { color: $blue; }
.violet { color: $violet; }
.purple { color: $purple; }
.pink { color: $pink; }
.brown { color: $brown; }
.white { color: $white; }

button.button {
  @include button($blue);

  &.dark-grey,&.dark-gray {@include button($dark-gray);}
  &.gray,&.grey {@include button($gray);}
  &.black {@include button($black);}
  &.red {@include button($red);}
  &.orange {@include button($orange, $black);}
  &.yellow {@include button($yellow, $black);}
  &.olive {@include button($olive);}
  &.green {@include button($green);}
  &.teal {@include button($teal);}
  &.blue {@include button($blue);}
  &.violet {@include button($violet);}
  &.purple {@include button($purple);}
  &.pink {@include button($pink, $black);}
  &.brown {@include button($brown);}
}

input {
  @include border-radius($border-radius);
  padding: $base-spacing/3 $base-spacing/2;
  border: 1px solid $gray;
}

// utility

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button, input, select {
  &.left { float: left; }
  &.right { float: right; }
}

.justify {
  text-align: justify;
}

.hidden-sm, .hidden {
  display: none;
}

.divider {
  border-top: 1px solid $black;
  width: 70%;
  margin: $base-spacing auto;
}

.control {
  @include pointer();
}

.warning {
  @include button($red, $black);
}

i.fa{
  margin-right: $base-spacing/2;
}