// IMPORT STANDARD FONT
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

// colors
$black: #1B1C1D;
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans
$light-grey: #D3D3D3;
$light-gray: #D3D3D3; // for the Americans
$grey: #767676;
$gray: #767676; // For the Americans
$red: #DB2828;
$orange: #F2711C;
$yellow: #FBBD08;
$olive: #B5CC18;
$green: #21BA45;
$teal: #00B5AD;
$blue: #2185D0;
$violet: #6435C9;
$purple: #A333C8;
$pink: #E03997;
$brown: #A5673F;
$white: #FFFFFF;

// fonts
$font-family: 'Lato', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;
$base-font-color: $dark-grey;

// various
$border-radius: 0.2rem;
$base-spacing: 1rem;

// grid
$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px