.container.menu {
    padding-top: $base-spacing;
    nav {
        padding: 0;
        margin: auto;
        @include border-radius($border-radius*2);
        border: 1px solid $black;
        .entry {
            text-decoration: none;
            font-weight: bold;
            @include pointer();
            text-align: center;
            margin: 0;
            padding: $base-spacing/2;
            height: 100%;
            border-right: 1px solid $black;
            @media only screen and (max-width: 680px) {
                text-align: left;
            }
            &:first-child {
                border-top-left-radius: $border-radius*2;
                border-bottom-left-radius: $border-radius*2; 
            }
            &:last-child {
                border-right: none;
            }
            &.active, &.active:hover {
                background-color: lighten($blue,40%);
            }
            &:hover {
                background-color: lighten($blue,50%);
            }
        }
    }
}