.footer
	.container
		.row
			.col-4
				ul.socials
					li
						i.fa.fa-facebook
						a(href="#") Facebook
					li
						i.fa.fa-twitter
						a(href="#") Twitter
					li
						i.fa.fa-github
						a(href="#") Github
			.col-4
				ul.papers
					li
						i.fa.fa-file-text-o
						a(href='#') Conditions de vente
					li
						i.fa.fa-industry
						a(href='#') Notre société
					li
						i.fa.fa-envelope-o
						a(href='#') Contactez-nous
			.col-4
				.infos
					i.fa.fa-map-marker
					| Find us
					.name ACME Corp.
					.address 1 rue des Alpes
					.city 05000 - Gap
	.contrib.center This is my footer app made with 
		i.fa.fa-heart.pink